.weatherConteiner .header {
  text-align: center;
  margin-bottom: 6vh;
}

.weatherConteiner .header h1,
.weatherConteiner .header h4,
.weatherConteiner .header h6 {
  margin-top: 0;
}

.weatherConteiner .header h1 {
  font-size: 2.5em;
}

.weatherConteiner .header img {
  vertical-align: top;
}
